[submodule "bosh-cpi-haskell"]
	path = src/bosh-kubernetes-cpi/dependencies/bosh-cpi-haskell
	url = https://github.com/SAP/bosh-cpi-haskell.git
[submodule "haskell-kubernetes"]
	path = src/bosh-kubernetes-cpi/dependencies/haskell-kubernetes
	url = https://github.com/loewenstein/haskell-kubernetes.git
